.parentlist{
    width: 100%;
    padding: 5px;
    background-color: red;
}





.list{
    width: 100%;
    margin: 5px;
    display:flex;
    flex-direction: row;
    background-color:yellow;
    
}
.left{
    display: flex;
  gap:2rem;
    flex-direction: column;
    background-color: aquamarine;
    flex:3;
}
.left p{
    float: left;
}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 2;
}
button{
    background-color: black;
    color:white
}
